
/* Hide scrollbars */
body {
    overflow: hidden;
}

/* Center Content */
html, body {
    height: 100%;
    background-color: #111111;
}

.containerCenter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set dynamic colors */
.OwnBG {
    background-color: #111111;
}

.OwnTXT {
    color: white;
}

.OwnBorder {
    border-color: white;
}

/* Input Field Border */
input:focus,
input {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    background-color: #111111 !important;
    color: white !important;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #e70f50 !important;
}

.addscrollbar {
  height:150px;
  overflow-y: scroll;
  direction:rtl;
}

        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            filter: invert(1);
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 3%;
        }

        .carousel-indicators {
            filter: invert(1);
        }
